.auth-layout {
  text-align: center;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-logo {
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.auth-logo-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
}

.auth-logo-circle svg {
  width: 100%;
  height: 100%;
  display: block;
}

.auth-logo-book {
  position: absolute;
  top: 17px;
  left: 21px;
  width: 37px;
  height: 48px;
}

.auth-logo-book svg {
  width: 100%;
  height: 100%;
  display: block;
}

.auth-title {
  font-family: 'Courier New', 'Monaco', 'Menlo', monospace;
  font-weight: 700;
  font-size: 48px;
  color: white;
  margin: 0 0 10px 0;
  text-align: center;
}

.auth-subtitle {
  font-family: 'Courier New', 'Monaco', 'Menlo', monospace;
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
  margin: 0;
  text-align: center;
}

