@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap");

:root {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(180deg, #a2c9ff 0%, #dce9ff 100%);
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 1s ease-in;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}